body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  margin-left : auto;
  margin-right: auto;
  display: block; 
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: lightcoral; 
}

nav {
  text-align: center;
}

figcaption {
  font-size: 20px;
  text-align: center;
}

section#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div {
  float: left;
  text-align: center;
  width: 25%;
  background: coral;
}